article div.aboutUs, article div.OurSolutions{
	width: 355px;
	height: 55px;
	background-image: url('../img/bg_box1.png');
	background-repeat: no-repeat;
	padding: 10px 0px 0px 25px;
	text-shadow: 0.5px 0px 0px #000000;	
}
article div.aboutUs{
	margin: 0px 0px 0px 5px;
	
}
article div.aboutUs h1, article div.OurSolutions h1{
	font: 23pt 'CabinSketch';
}
article div.slideShow{
	width: 524px;
	background-image: url('../img/bg_slider.png');
	background-repeat: no-repeat;
	margin-left: 18px;
}
article div.slideShow div.button{
	width: 52px;
	height: 50px;	
	background-repeat: no-repeat;		
	margin-top: 100px;
}
article div.slideShow div.button:hover{
	cursor: pointer;
}
article div.slideShow div#prev{
background-image: url('../img/marker_left.png');
float:left;
margin-left: 14px;
}
article div.slideShow div#next{
	background-image: url('../img/marker_right.png');
	float: right;
	margin-right: 14px;
}
article div.slideShow div.slideImage{
	width: 342px;
	height: 225px;
	overflow: scroll;
	margin-left: 92px;
	padding-top: 15px;
}
article div.slideShow div.slideImage ul{
	width: 1710px;
	list-style: none;
}
article div.slideShow div.slideImage ul li{
	float: left;
}

article div.slideShow div.contnt{
	width: 514px;
	word-wrap: break-word;
	margin-top: 40px;
	margin-left: 10px;
	font: 12pt 'EB Garamond';
	font-weight: 100;
}
article div.OurSolutions{
	margin: 10px 0px 0px 5px;
}
article div#our{
	font: 12pt 'EB Garamond';
	font-weight: 100;
	width: 200px;	
	background-repeat: no-repeat;
	padding:0px 0px 0px 30px;
	margin-top: 10px;
	word-wrap: break-word;	
}
article div#our span{
	font-weight: bold;
	
}

article  div.devel{
background-image: url('../img/page1_img3.png');	
margin-left: 25px;
float: left;
}
article  div.creative, article  div.eff{
background-image: url('../img/page1_img5.png');	
margin-left: 300px;
}
article  div.planing{
background-image: url('../img/page1_img4.png');	
margin-left: 25px;
float: left;
}
article  div.eff{
background-image: url('../img/page1_img6.png');	
margin-left: 300px;
}