article div#C_content, article div#C_info{
	font:  14pt 'EB Garamond';
}
article div#C_content{
	height: 145px;
	margin-bottom: 20px;
}
article div#C_content div#columnL, article div#columnL{
	font-weight: bold;
	margin-left: 15px;
	float: left;
}
article div#C_content div#columnR{
	margin-left: 20px;
	float: left;
}
article div#C_content div#C_info{
	width: 250px;
	float: right;
	word-wrap: break-word;
	margin-right: 50px;
}
article div#C_content div#C_info span{
	font-weight: bold;
}
article div.ContactForm{
	height: 300px;
	padding-left: 150px;
}
article div.ContactForm form#ContactForm input[type ='text']{
	width: 375px;
	height: 25px;
	opacity: 0.5;
	border: 0px;
	font:  14pt 'EB Garamond';
	margin-bottom: 10px;
}
article div.ContactForm form#ContactForm textarea{
	height: 430px;
	width: 375px;
	opacity: 0.5;
	border: 0px;
	font:  14pt 'EB Garamond';
	resize: none;
}
article div.ContactForm form#ContactForm img{
	float:right;
	margin-right: 80px;
	margin-top: 10px;
}
article div.ContactForm form#ContactForm img:hover{
	cursor: pointer;
}