article div.gallery_element{
	font:  11pt 'EB Garamond';
	width: 242px;
	word-wrap: break-word;
}
article div.gallery_element div#descr{
	padding-left: 10px;
}
article div.gallery_element div#descr span{
	font-weight: bold;
}
article div.gallery_element div#descr div.read_more{
	color: #ab0000;
	font-weight: bold;
	height: 20px;
	background-image: url('../img/marker_3.png');
	background-repeat: no-repeat;
	padding-left: 25px;
}
article div.gallery_element div#descr div.read_more:hover{
	color: #000000;
	cursor: pointer;
}
article ul#G_columL li, article ul#G_columR li{
	list-style-image: none;
	list-style-type: none;
	margin-top: 20px;
}
article ul#G_columL, article ul#G_columR{
	width: 300px;
}
article ul#G_columL{
	float: right;
}
article ul#G_columL li img:hover, article ul#G_columR li img:hover{
	opacity: 0.5;
}