article div.S_cnt{
	width: 550px;
	word-wrap: break-word;
	background-image: url('../img/page2_img1.png');
	background-repeat: no-repeat;
	font: 12pt 'EB Garamond';
	
}
article div.S_cnt p{
	padding-left: 200px;
	padding-bottom: 10px;	
}
article div.S_cnt span{
	font-weight: bold;
}
article ul.servicesUl#tcol{
	float: left;
	margin-right: 50px;
	margin-left: 50px;	
}
article ul.servicesUl li{
	list-style-image: url('../img/marker_2.png');
	
}
article ul.servicesUl li a{
	color: #ab0000;
	text-decoration: none;
	font:  12pt 'EB Garamond';
}
article p#S_sed{
	width: 550px;
	margin-top: 5px;
	word-wrap: break-word;
	font:  12pt 'EB Garamond';
}
article p#S_sed span{
	font-weight: bold;
}
article div.testim{
	width: 231px;
	height: 130px;
	padding: 137px 10px 0px 10px;
	background-repeat: no-repeat;
	font:  12pt 'EB Garamond';
	word-wrap: break-word;
}
article div#two{
	margin-left: 300px;
	background-image: url('../img/page2_img3.png');
}
article div#one{
	background-image: url('../img/page2_img2.png');
	float: left;
}
article div.testim span#name{
	font-weight: bold;
}
article div.testim span#appoinment{
	color: #ab0000;
	font-weight: bold;
}