*{
	margin: 0px;
	padding: 0px;
}
body{
	background-color: #000000;
}
/*background */
.backgroundImg{
	width: 1171px;
	height: 1721px;
	background-image: url('../img/bg.jpg');
	background-repeat: no-repeat;
	margin: auto;
}
/*header*/
header nav ul{
	padding-top: 50px;
	margin-left: 120px;
	font:  21pt 'EB Garamond';
	color:#0e0d0f;
	text-shadow: 1px 0.5px 0 rgba(0,0,0,0.5);
}
header nav ul li{
	float: left;
	list-style-type: none;	
	margin-left: 40px;
}
header nav ul li:hover{	
	color:#780c0e;
	cursor: pointer;	
}
header img{
	margin:100px 0px 140px 197px;
}
/*sitebar aside*/
aside{
	float: right;
	margin-right: 140px;
	margin-top: 65px;
}
aside h1{
	font: 25pt 'CabinSketch';
	color: #FFFFFF;
	padding-left: 40px;
}
aside h1 span{
	font-size: 40pt;
	color: #04EFEF;
}
aside img{
	margin-top: 10px;
	display: block;
}
aside img:hover{
	cursor: pointer;
}
aside p.recTweets{
	font: 24pt 'CabinSketch';
	padding-top: 20px;	
	float: left;
	text-shadow: 0.5px 0px 0px #000000;
}
aside div.tweets{
	padding-top: 15px;
	font-size: 12pt ;
	font-weight: 100;
	color: #cbcbcb;

}
aside div.tweets div.mesg{
	margin-top: 25px;
}
aside div.tweets div.mesg span{
	color: #ab0000;
}
aside div.tweets div.mesg:hover{
	cursor: default;
}
/*article*/
article{
	width: 600px;
	height: 860px;
	margin-left: 150px;
}

/*footer*/

footer div.links{
	height: 192px;
	padding-left: 60px;
	padding-top: 100px;
	float: left;
}
footer div.links div ul{
	list-style-image: url('../img/marker_1.gif');
	display: block;
}
footer div.links div ul li{
	margin-top: 1px;
}
footer div.links div#followus ul{
	list-style: none;
}
footer div.links div#followus ul li{
	background-repeat: no-repeat;
	margin-top: 14px;
}
footer div.links div#followus ul li a{
	display: block;
	padding-left: 20px;
}
footer div.links div ul li a{
	text-decoration: none;
	color: #ffffff;
	font-size: 12pt;
	color: #cbcbcb;
}
footer div.links div ul li a:hover{
	color: #ab0000;
}
footer div.links div{
	font-size: 20pt ;
	color: #efefef;
	width:150px;
	float:left;
	margin-left: 70px;
}
footer div.newsletter{
	width: 286px;
	height: 214px;
	padding-right: 145px;
	padding-top: 153px;
	background-image: url('../img/newsletter_bg.png');
	background-repeat: no-repeat;
	float: right;

}
footer div.newsletter form input[type = 'text']{
	margin-left: 50px;
	border: 0px;
	outline: none;
}
footer div.newsletter form p.button{
	font: 14pt 'Arial';
	color: #efefef;
	padding-top: 20px;
	padding-left: 105px;
	display: block;	
}
footer div.newsletter form p.button:hover{
	cursor: pointer;
	color: #ab0000;
}