<span>Design studio</span> Template is free template created by TemplateMonster.com
					team. This website template is optimized for 1024x768 screen resolution. It is
					also XHTML & css valid.<br><br>
					This Free Design Studio Template goes with two packages with - PSD
					source files and without them. PSD source files are available for free for the
					registered members of Templates.com. The basic package (without PSD 
					source is available for anyone without registration).